@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root{
    --font: font-family: 'Comfortaa', sans-serif;

    

    

    --spacing-xl: 150px;
    --spacing-lg: 100px;
    --spacing-md: 50px;
    --spacing-sm: 25px;
    --spacing-s: 16px;
    --spacing-xs: 10px;
    --spacing-xxs: 5px; 
  
    --font-size-xxxxl: 35px;
    --font-size-xxxl: 30px;
    --font-size-xxl: 26px;
    --font-size-xl: 24px;
    --font-size-l: 18px;
    --font-size-m: 16px;
    --font-size-s: 14px;
    --font-size-xs: 13px;
 
    
    --red: red;

    --color-title-info: #5094e7;

    --background-color:#212121;
    --background-image: radial-gradient(hsla(0, 0%, 90%, 0.1) 1px,transparent 0);


    --font-color: white;
  --color-prymary: #8B8B8B;
  --color-secundary: #5094e7;
  --color-tertiary: #6A5EF7;
  --color-quaternary:#313131;
  --color-quinary: #2b2b2b;
  --color-sextary: #5c5c5c;
  --color-septenary: #16161680;
  --color-octave: #eaeaea;
  --color-novenary: #858585;

  --border-color: #8B8B8B;


  }