.post {
  display: flex;
  flex-direction: column;

  padding: 10px;

  background-color: var(--color-quaternary);

  border: 1px solid var(--color-prymary);

  border-radius: 10px;

  cursor: pointer;

  overflow: hidden;

  :hover {
    background-color: var(--color-tertiary);
    box-shadow: 0 0 0 10px var(--color-tertiary);


    
    transition: background-color 0.3s;
    

  }
}
